body{width :1800px;}
body{height: 160px;}
body{background-color: #ffe596;}
h1{background-color: #dc143c;}
h1{border:10px outset #5d46e2;}
p{color: black;}
p{margin-left:}
img{border-radius:99em; border:1px solid #089975; box-shadow: 1px 1px 1px 4px rgb(255, 255, 255); padding : 4px; height : 370px;}
